.test {
    border:1px solid red;
}

.intro {
    text-align: center;
}

.testCont {
    margin-top:2rem;
}

.first {
background: red;
padding:2rem;
}

.second {
    background: blue;
    padding:2rem;

}

.third {
background: green;
padding:2rem;

}
.headerTwo {
    padding-bottom:2rem;
    text-align: center;
    color: blue;
    text-decoration: underline;
}
.genericButton {
    cursor: pointer;
    background: #17a2b8;
    border-radius: 0.5rem;
    border:1px solid white;
    color:white;
    font-weight:700;
    padding-top:1rem;
    padding-bottom:1rem;
    padding-left:.5rem;
    padding-right:.5rem;
}

.changeAllButton {
    background: #007bff;
}

.yellowButton {
    background: yellow;
    color:black;
}

.resetSide {
    text-align: right;
}

.reset {
background:red;
}

.show{
background:green;
}
